nav {
  background-color: #83c5be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
  width: 100%;



  .logo {
    font-size: 24px;
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
  }

  .pages {
    padding-right: 10px;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      padding-left: 10px;
      // padding-right: 10px;
      list-style: none;

      :hover {
        color: white;
      }

      a {
        text-decoration: none;
        color: black;
        font-size: 20px;

      }
    }

  }
}


